@import './dist/_variables';
@import './dist/reset';
@import './dist/backgrounds';

.container {
    margin: 0 auto;
    padding: 0 .7rem;
}

header {
    height: 48rem;

    background: {
        image: url('/images/desktop/image-header.jpg');
        size: cover;
        position: bottom center;
    }

    .logo {
        width: 9rem;
    }

    nav {
        padding: 1.8rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            gap: 2.6rem;
            justify-content: space-evenly;
            align-items: center;

            li {
                font-weight: 600;
                font-family: $barlow-font;
                font-size: 1rem;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .main-heading {
        width: max-content;
        text-align: center;
        font-size: 3.4rem;
        margin: 0 auto;
        padding: 3rem 2rem;
        color: white;
        font-weight: 900;
        font-family: $frnunces-font;
        letter-spacing: 7px;
    }
}

.contact-button {
    padding: 1rem 1.8rem;
    font-size: 14px;
    border-radius: 41px;
    font-weight: 700;
    font-family: $frnunces-font;
    color: hsl(212deg, 27%, 19%);
}



.arrow-downIcon {
    margin: 2rem auto;
    width: 3rem;
}

.services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .image-box img {
        width: 100%;
        object-fit: cover;
    }

    .text-box {
        padding: 9rem 9rem 8rem 9rem;

        h2 {
            font-size: 2.5rem;
            color: $Very-dark-desaturated-blue;
            font-family: $frnunces-font;
            font-weight: 900;
            word-spacing: -1px;
            letter-spacing: 2px;
            line-height: 1.4;
        }

        p {
            color: $Dark-grayish-blue;
            line-height: 1.8;
            margin-top: 1.7rem;
            font-family: $barlow-font;
            font-weight: 600;
            font-size: 1rem;
        }

        a {
            text-transform: uppercase;
            margin-top: 1.8rem;
            display: block;
            font-weight: 900;
            font-family: $frnunces-font;
            letter-spacing: -1px;
            word-spacing: 4px;
            font-size: 1rem;
            position: relative;
            color: $Very-dark-desaturated-blue;

            &::before {
                content: '';
                height: 7px;
                opacity: .6;
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 25%;
                background-color: $Yellow;
            }

            &:hover {
                opacity: .6;
            }
        }
    }
}

.graphicDesign-section,
.photography-section {
    height: 43rem;
    display: flex;
    align-items: flex-end;
    padding: 4.5rem 11rem;
    text-align: center;

    .content {
        h2 {
            margin-bottom: 1.6rem;
            font-weight: 900;
            font-family: $frnunces-font;
        }

        p {
            font-family: $barlow-font;
        }
    }
}


.graphicDesign-section .content {

    h2 {
        color: $Dark-desaturated-cyan;
    }

    p {
        color: $Dark-desaturated-cyan;
    }


}

.photography-section {
    .content {
        h2 {
            color: $Dark-blue
        }

        p {
            color: $Dark-blue
        }
    }

}

.testimonials-section {
    padding: 8.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-heading {
        font-weight: 900;
        font-family: "Fraunces", serif;
        color: hsl(232deg, 10%, 55%);
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 5rem 0;
}

.client-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;

    .client-image {
        width: 5rem;
        border-radius: 50%;
    }

    p {
        font-weight: 600;
        color: $Very-dark-grayish-blue;
    }

    .client-name {
        color: $Very-dark-desaturated-blue;
        font-family: $frnunces-font;
    }

    .client-role {
        color: $Dark-grayish-blue;
        font-family: $barlow-font;
        margin-top: 10px;
        display: inline-block;
    }

    .client-message {
        font-family: $barlow-font;
        line-height: 1.7;
    }
}

.image-gallery-section {

    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

footer {
    padding: 4rem 0;
    text-align: center;
    background-color: $Dark-moderate-cyan;

    .container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: $Dark-desaturated-cyan;
        width: fit-content;

        .footer-logo {
            margin: 0 auto;
            width: 70%;
        }

        .about {
            display: flex;
            gap: 2rem;

            & div {
                font-family: $frnunces-font;
            }
        }

        .socialMedia-container {
            display: flex;
            gap: 2rem;
            justify-content: space-evenly;

            .social-logo {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }


}